.contenedor-grid {
  margin: 40px; padding: 0px;

  display: grid;
  grid-template-areas:
    "h1 h1 ."
    "p1 p1 ."
    "p2 p2 ."
    "p3 p3 ."
    "h2 h2 ."
    "img1 img2 img4";
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .grid-titulo-1 {
    grid-area: h1;
    text-decoration: underline;
    font-size: 190%;
  }

  .grid-p-1 {
    grid-area: p1;
  }

  .grid-p-2 {
    grid-area: p2;
  }

  .grid-p-3 {
    grid-area: p3;
  }

  .grid-titulo-2 {
    grid-area: h2;
    text-align: center;
    font-size: 150%;
  }

  .grid-img-1 {
    grid-area: img1;
    width: 300px;
    text-align: center;
  }

  .grid-img-2 {
    grid-area: img2;
    width: 350px;
  }

  .grid-img-4 {
    grid-area: img4;
    width: 350px;
  }
}



