.titulo-index{
    text-align: center;
    background-image: url(../medios/portada-header.webp);
    height: 83%;
    background-size: cover;
   background-repeat: no-repeat;
   text-shadow: 1px -1px 25px rgb(0, 0, 0,);
   color: beige;
   padding: 350px; margin: 0px;
   font-size: 1.5rem;
}

.about-us {
    background-color: $marron;
    color: white;
    margin: 25px;
    padding: 0;
  
    h2 {
      text-align: center;
      color: white;
    }
  }
  
  .inspiraciones {
    img {
      width: 80%;
    }
  
    h3 {
      text-align: center;
      color: black;
      margin: 25px;
      padding: 0;
    }
  }
  
  .div-padre-flex {
    display: flex;
    justify-content: space-evenly;
  
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .tendencias-2023 {
    font-size: 1rem;
  
    h4 {
      font-size: 20px;
      text-align: center;
      text-decoration: underline;
      margin: 25px;
      padding: 0;
    }
  
    img {
      width: 34%;
      margin: 15px;
      padding: 0;
    }
  
    h5 {
      font-size: 20px;
    }
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .introduccion-tendencias,
    .trend-uno,
    .trend-dos,
    .trend-tres {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .trend-uno,
    .trend-dos,
    .trend-tres {
      margin-left: auto;
    }
  
    .trend-uno {
      background-color: #FFA0C2;
      margin: 10px;
      padding: 0;
    }
  
    .trend-dos {
      background-color: #b7c69e;
      margin: 10px;
      padding: 0;
    }
  
    .trend-tres {
      background-color: #9AC5F4;
      margin: 10px;
      padding: 0;
    }
  }
  
  