.tendencias-titulo {
  margin: 40px; padding: 0px;
  
    h1 {
      color: #f07cac;
      font-size: 1.7rem;
      text-align: center;
      margin: 30px;
      padding: 0px;
    }
  }
  
  .tendencias-lista {
    ol {
      list-style-type: decimal;
      font-weight: bold;
      margin: 30px;
      padding: 0px;
    }
  }
  
  .tendencias-metalicos {
    text-align: center;
  
    h2 {
      font-weight: bold;
      text-decoration: underline;
    }
  
    p {
      text-align: justify;
      margin: 40px;
      padding: 0px;
    }
  
    img {
      width: 220px;
    }
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .tentendencias-y2k{
    
    img {
      width: 200%;
      text-align: center;
    }

  } 

